<fieldset style="width: 50%;margin-left:150px;margin-top:50px;">
  <legend> How do you want to Place?</legend>
  <%= form_tag(:action=> "select_group", :method=>"get") do %>
    <br/>
    <%= radio_button_tag 'group', 'group' %> Group Placement<br/><br/>
    <%= radio_button_tag 'group', 'individual' %> Individual Placement<br/><br/>
    <%= submit_tag "Continue" %><br/><br/>
  <% end %>

</fieldset>

<div id="to_be_replaced">

</div>
  
