<% #Menu items for instructor role 
   #sub-menu  Grade %>
	 <div class='menu_link'><img src='/icons/briefcase.png'/ width=20 height=20>
                  <%= link_to "Deparment Placement", department_quotas_path %><br> </div>
	<div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
		 <%= link_to "Admission Aproval", admission_approval_index_path %><br><div>

