<% #Menu items for instructor role 
   #sub-menu  Grade %>
<br>
	 <div class='menu_link'><img src='/icons/briefcase.png'/ width=20 height=20>
                  <%= link_to "Deparment Placement", department_quotas_path %><br> </div>

