
<h1>MoeDataImport</h1>

<% form_tag moe_data_import_upload_path, :html =>{:multipart =>true} do %>

    	Select a CSV File :
   	<%= file_field_tag :file %>
   	<%= submit_tag 'Submit' -%>

<% end %>

<!--
        <h1>The table in the database is in the following order please arrange your csv file in that order</h1>
        <table border ="1" bgcolor= "#ffddcc">
          <tr>
            <th>EHEECE_code</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Grand Father Name</th>
            <th>Nationality</th>
            <th>Sight</th>
            <th>School Code</th>
            <th>Region</th>
            <th>College</th>
            <th>EHEECE Result</th>
            <th>Out Of</th>
            <th>Admission Type</th>
            <th>Enrollment Type</th>
            <th>Enrollment Mode</th>
            <th>Admission Status</th>
          </tr>
          <tr>
            <td>8011254</td>
            <td>Amanuel</td>
            <td>hafte</</td>
            <td>Gadafi</td>
            <td>Libya</td>
            <td>N/Y</td>
            <td>258741</td>
            <td>3</td>
            <td>Engineering</td>
            <td>356</td>
            <td>700</td>
            <td>Undergraduate</td>
            <td>Regular</td>
            <td>Full Time</td>
            <td>Admitted/rejected</td>
          </tr>
        </table>
 -->

