<div style="margin:30px">
<%= flash[:notice] %>


<%#= netzke :applicants,
           :class_name => "Basepack::GridPanel",
           :model => 'Applicant',
           :view_config => { :force_fit => true },
           :width => 900,
           :height => 370,
           :columns => [
           { :name => :full_name, :label => "Applicant Fullname ", :read_only =>true},
            { :name => :admission__name, :read_only =>true },
            { :name => :college__details, :label => "College and campus", :read_only =>true }

           ],
           :scope=> {:id.gteq => @person.id}
           
           
          %>#

  <%= link_to 'create accounts', :controller => 'moe_data_import', :action => 'show', :id => @person %>
</div>
