<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enrollment_type.name %>
</p>


<%= link_to 'Edit', edit_enrollment_type_path(@enrollment_type) %> |
<%= link_to 'Back', enrollment_types_path %>
