<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<div style="margin-left:100px;margin-top:10px">
<%= stylesheet_link_tag "event_calendar" %>

<h1>Calendar</h1>

<%= raw(event_calendar) %>

<% link_to "New Event", :controller => 'calendar', :action=> 'new' %>
</div>
