<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enrollment_mode_type.name %>
</p>


<%= link_to 'Edit', edit_enrollment_mode_type_path(@enrollment_mode_type) %> |
<%= link_to 'Back', enrollment_mode_types_path %>
