<div style="margin:30px">

<%= netzke :main_grid,:title => " ",
            :class_name => "Basepack::TabPanel",
            :items => [    {
              :class_name => "Basepack::GridPanel",
              :model => "User",
              :title => "User Accounts",
            },{
              :class_name => "Basepack::GridPanel",
              :model => "College",
	      :title => "Colleges",
	      :view_config => {
		     :force_fit => true
	      },
	      :columns  => [
	      {:name => :name, :label => "College name"},
	      {:name => :campus__name}
	    ],

    #Create menu
	    :bbar => nil,
	    :tbar => [{
	    :menu => [:add.action, :edit.action, :apply.action, :del.action],
	    :text => "Edit inline",
      	    :icon =>"/images/icons/table.png"
	    },{
	    :menu => [:add_in_form.action, :edit_in_form.action],
	    :text => "Edit in form",
            :icon => "/images/icons/application_form.png"
		    }],
	    :width => 600,
	    :height => 300
            },{
              :class_name => "Basepack::GridPanel",
              :model => "Campus",
              :title => "Campuses",
	            :view_config => {
                     :force_fit => true
              },
            },{
              :class_name => "Basepack::GridPanel",
              :model => "Department",
              :title => "Departments",
              :view_config => {
                     :force_fit => true
              },
            },{
              :class_name => "Basepack::GridPanel",
              :model => "AdmissionType",
              :title => "Admission Types",
    	        :view_config => {
                     :force_fit => true
              },
            },{
              :class_name => "Basepack::GridPanel",
              :model => "EnrollmentType",
              :title => "Enrollment Types",
      	      :view_config => {
                     :force_fit => true
              },
            },{
              :class_name => "Basepack::GridPanel",
              :model => "Building",
              :title => "Buildings",
  	          :view_config => {
                     :force_fit => true
              },
            },{
              :class_name => "Basepack::GridPanel",
              :model => "Admission",
              :title => "Admissions",
  	          :view_config => {
                     :force_fit => true
              },
            }],
            :width => 850,
            :border => true,
            :active_tab => 0

%>
</div>

