<div style="margin:30px"><h1> Welcome <i><% if @current_user.person_id.nil? %>
<%= @current_user.username %> <% else %>
<%= @current_user.person.full_name %> <% end %> </i> to Applicants Dashbord </h1>
 <p> You can now apply by clicking on the how to apply link on the left mernu or click here <br>
 You can also view the list of available programs by clicking here </p>
