<div style="padding:5px;width:50%">
<h1>New Applicants </h1>
<%= render 'form' %>
</div>
<div style="padding:5px;width:50%">
<%= netzke :applicant, :class_name => "Basepack::GridPanel", :model => "Applicant"
%>
</div>
