<br>
<div class="menu_link" style="text-indent:10px;"><img src='/icons/note.png'/ width=20 height=20>
  <%= link_to "Screening", student_service_staffs_selected_path %> | <%= @applicants.count unless @applicants == nil %> <br/>

</div>

