<br><center>
<h1> Welcome to instructors Dashboard </h1>
<!--<div style="float:left;width:400px;border:1pt groove green`">
	<fieldset>
	<legend> Approvals </legend>
	</fieldset>
<div>
<div style="float:right;width:400px">
	    <fieldset>
        <legend> Events </legend>
        </fieldset>

<div>
-->
