<% #Menu items for Student Service Staff 
   #sub-menu  Academics  %>
         <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
                 <%= link_to "Import Data", moe_data_import_import_path %><br><div>
         <div class='menu_link'><img src='/icons/briefcase.png'/ width=20 height=20>
                  <%= link_to "Placement Setup", dormitory_placement_dorm_placing_process_path %><br> </div>
	 <div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
                  <%= link_to "Place Dorm", dormitory_placement_place_dorm_path %><br> </div>

