<div >
<div class="roundborder" style="float:left;margin-top:50px;50px;margin-left: 100px;"><%= link_to  "Home", "#" %></div>
        <div class="roundborder" style="float:left;margin-top:50px"> About</div>
        <div class="roundborder" style="float:left;margin-top:50px"><%= link_to "Academic Calendar" %></div>
     </div>

