     <div id="toplinks">
        <div class="roundborder" style="float:left"> Home</div>
        <div class="roundborder" style="float:left"> About</div> 
        <div class="roundborder" style="float:left"> Academic Calendar</div> 
     </div>

