<h1>Editing academic_and_professional_qualification</h1>

<%= render 'form' %>

<%= link_to 'Show', @academic_and_professional_qualification %> |
<%= link_to 'Back', academic_and_professional_qualifications_path %>
