<div style="margin:5px">
<%= netzke :calendar,
    :class_name => "Basepack::GridPanel",
    :model => 'Event',
    :border => true,
    :width => 800,
    :height => 400,
    :header => false,
   # :columns => [ {:name => :name, :label => "Campus name", :width =>600}],


#Create menu
:bbar => nil,
:tbar => [{
:menu => [:add.action, :edit.action, :apply.action, :del.action],
:text => "Edit inline",
:icon =>"/images/icons/table.png"
},{
:menu => [:add_in_form.action, :edit_in_form.action],
:text => "Edit in form",
:icon => "/images/icons/application_form.png"
}]
%>
</div>
