
<table>
  <th><b>Title:</b></th>
  <tr>
    <td> <%= @event.name%></td></tr>
  
  <th><b>Start date:</b></th>
  <tr>
  <td> <%= @event.start_at %></td>
  </tr>


<th> <b>End date:</b></th>
<tr>
  <td> <%= @event.end_at %></td></tr>

 <th> <b>Details:</b></th>
<tr>
  <td> <%= @event.details %></td></tr>

</table>



