<h1>Admission Status Notifications</h1>

<%if @message == true %>

       Dear <%=@username %> your Document is reviewed and you are <h1>Approved</h1>

<% else %>
      
       Dear <%=@username %> your Document is reviewed and you are <h1>Rejected</h1>

<% end %>