<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enrollement_type.name %>
</p>


<%= link_to 'Edit', edit_enrollement_type_path(@enrollement_type) %> |
<%= link_to 'Back', enrollement_types_path %>
