<%= form_tag :action => 'change_password' %> 
<label> enter old password</label> 
<%= password_field_tag('password[old_password]', nil %><p> 

<label> enter new password</label> 
<%= password_field_tag('password[new_password]', nil %><p> 

<label> enter confirm password</label> 
<%= password_field_tag('password[new_password_confirmation]', nil %><p> 

<% end %> 
