<div style="margin:30px">
<center>
<h1>Department Placement and Quota Setting</h1>

<%= netzke :Department_Quotes,
    :class_name => "Basepack::GridPanel",
    :model => 'DepartmentQuota',
    #:columns => [
#	:department_id,
#	{:name => :total_quota, :label => "Total Quota"},
#	:female_percentage
#	]
	:border => true,
	:width => 650,
	:height => 350,
	:bbar => nil,
    :tbar => [{
      :menu => [:add.action, :edit.action, :apply.action, :del.action],
      :text => "Inline Actions",
      :icon =>"/images/icons/table.png"
    },{
      :menu => [:add_in_form.action, :edit_in_form.action],
      :text => "Form Actions",
      :icon => "/images/icons/application_form.png"
    }],
    :width => 600,
    :height => 400,

%>

<br>
<div>
  <b><%= link_to 'Place Students', :controller=>"department_placement", :action=>'department_placing_process' %></b>
</div>

