<br/>
<div>
 <h1 align="center"> How to apply</h1>
<hr/>


<%
@count=0;
@how_tos.each do |how_to| %>

<h2><%=(@count=@count+1) %> : <%=how_to.title %></h2>
<p><%=how_to.detail %></p>
<hr/>
<% end %>
</div>

