<center>
<h1>New college</h1>

<%#= render 'form' %>

<%= netzke :colleges,
    :class_name => "Basepack::GridPanel",
    :model => 'College',

    :width => 570,
    :height => 300
%>
<%= link_to 'Back', colleges_path %>
