<%= form_tag :controller => 'moes', :action => 'import', :method => 'post' do %>
  <label for="file">File to Upload</label>
  <%= @name,:value = "MU_Placement_2003.ods" %>
  <%= submit_tag %>
<% end %>