<% #Menu items for instructor role 
   #sub-menu  Grade %>
	<div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
		 <%= link_to "Programs", available_programs_path %><br><div>
	<div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
		  <%= link_to "How to Apply", how_tos_path %><br> </div>


