<h1>New admission</h1>
<%#= netzke :admission,
        :class_name => "Basepack::GridPanel",
        :model => "Admission",
    #:bbar => nil,
    :tbar => [{
      :menu => [:add.action, :edit.action, :apply.action, :del.action],
      :text => "Edit inline",
      :icon =>"/images/icons/table.png"
    },{
      :menu => [:add_in_form.action, :edit_in_form.action],
      :text => "Edit in form",
      :icon => "/images/icons/application_form.png"
    }],
    :width => 600,
    :height => 400,
%>

<%= render 'form' %>

<%= link_to 'Back', admissions_path %>
